/*
Header fonts - Raleway
Other text - Latro
*/

body {
  margin: 0;
  padding: 0;
  /* background-image: url('imgs/efe60e79.png'); */
  background: linear-gradient(90deg, #ffffff 20px, transparent 1%) center,
    linear-gradient(#ffffff 20px, transparent 1%) center, #e65100;
  background-size: 22px 22px;
  font-family: 'Raleway', sans-serif;
}

footer, #title {
  color: #e65100;
  background-color: white;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.container {
  left: 10%;
  position: relative;
  text-align: center;
}

#bio {
  border-color: #e65100;
  border-style: dashed;
  text-shadow: 10%;
  font-size: 120px;
  left: -10%;
}

#bio-text {
  top: -85px;
  border-color: black;
  vertical-align: middle;
}

#bio, #bio-text {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  position: relative;
}

.description {
  /* padding-top: 50px; */
}

.icon-text {
  position: relative;
  top: -40px;
}

.carousel {
  position: relative;
  text-align: center;
  width: 100%;
  left: -70px;
}

.logo {
  width: 30px;
}


#side {
	z-index: 999;
	position: absolute;
	top: 55px;
	left: -95%;
	width: 100%;
	transition: all 0.4s, all 0.4s ease;
}

.panel{
	width: 100%;
	height: 350px;
}

.one{
	background: #e65100;
}

#side:hover{
	transform: translate(95%, 0);
}

@media (max-width: 800px) {
  .container {
    position: inherit;
    width: 100%;
  }

  #bio {
    display: none;
  }

  #bio-text {
    top: 0px;
  }
}
