/*
Header fonts - Raleway
Other text - Latro
*/

body {
  margin: 0;
  padding: 0;
  /* background-image: url('imgs/efe60e79.png'); */
  background: linear-gradient(90deg, #ffffff 20px, transparent 1%) center,
    linear-gradient(#ffffff 20px, transparent 1%) center, #e65100;
  background-size: 22px 22px;
}

h1 {
  font-family: 'Raleway' sans-serif !important;
}

nav {
  text-align: right;
  background-color: white !important;
  font-family: 'Raleway' sans-serif !important;
  box-shadow: none !important;
  height: 50px;
}

section {
  width: 300px;
  height: 300px;
  margin: 20px 20px;
  display: inline-block !important;
}

.hero {
  border-radius: 100%;
  border-color: #B7B6C2;
  border-style: dotted;
  background: white;
}

.info {
  background: #B7B6C2;
}

.divider {
  height: 200px !important;
  width: 100%;
  background: #B7B6C2 !important;
  margin-bottom: 10px;
}
