/*
Header fonts - Raleway
Other text - Latro
*/

/* Initial doc setup */
  body {
    /* background-image: url('imgs/efe60e79.png'); */
    background: linear-gradient(90deg, #ffffff 20px, transparent 1%) center,
      linear-gradient(#ffffff 20px, transparent 1%) center, #e65100;
    background-size: 22px 22px;
    font-family: 'Raleway', sans-serif;
  }

  body, p {
    margin: 0;
    padding: 0;
  }

/* Nav + Footer */
  footer, .header {
    color: #e65100;
    background-color: white;
    margin-top: 0;
    margin-bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .nav, #title, li {
    display: inline-block;
  }

  #title {
    position: relative;
    right: -120px;
  }

  li {
    position: relative;
    right: -25vw;
    padding: 0 10px;
  }

  .nav-links {
    color: #e65100;
  }

  #logo {
    display: none;
  }

/* Hero section */
  .hero{
  	width: 100%;
    margin-top: 0;
  	height: 35vw;
    background: linear-gradient(90deg, #e65100 20px, transparent 1%) center,
      linear-gradient(#e65100 20px, transparent 1%) center, #ffffff;
    background-size: 22px 22px;
    text-align: center;
    vertical-align: middle;
  }

  .container {
    display: inline-block;
    padding-top: 2vw;
    font-family: 'Latro', sans-serif;
  }

  .circle {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    border-radius: 100%;
    background-color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-color: #e65100;
    margin: 0 2vw;
    font-size: 10vw;
  }

  .circle-text {
    padding-top: 6vw;
  }

  .circle-description {
    margin-top: 2vw;
    font-size: 3vw;
    color: white;
    font-weight: 900;
    padding: 0;
  }

/* Bio section */
  .bio {
    width: 100%;
    text-align: center;
  }

  #bio {
    position: relative;
    top: -6vw;
  }

  #bio > a {
    color: black;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
  }

  .resume {
    width: 25vw;
    border: #e65100 dashed 3px;
    cursor: pointer;
    margin: 10px 50px;
  }

/* Project section */
  .projects {
    width: 100%;
    height: 500px;
  }

  #projects {
    width: 100%;
    text-align: center;
  }

  .project {
    display: inline-block;
    text-align: center;
    height: 200px;
  }

  .project-image {
    width: 20vw;
    z-index: -100;
    position: absolute;
  }

  #slacktivism > .project-image {
    left: 10vw;
  }

  #equally > .project-image {
    left: 40vw;
  }

  #yahtzee > .project-image {
    left: 69vw;
  }

  .card {
    background-color: #e65100;
    border-radius: 20px;
    width: 20vw;
    height: 300px;
    z-index: 0;
    padding: 10px 30px;
    margin: 0px 30px 20px 30px;
    transition: transform 0.4s, transform 0.4s ease;
  }

  .card:hover{
    transform: translateY(200px);
  }

  .fa-chevron-circle-down, .fa-github, .fa-eye {
    font-size: 30px;
    color: black;
  }

  .fa-github, .fa-eye {
    margin: 0 20px;
  }

  .card h1, .fa-chevron-circle-down  {
    color: white;
    font
  }

  .card p {
    font-size: 15px;
    padding: 5px 5px 30px 5px;
    color: white;
    font-family: 'Latro', sans-serif;
  }

/* Skills section */

  .skills {
    width: 100%;
  }

  .icon {
    width: 5vw;
    padding: 2vw;
    margin: 2vw;
  }

  .carousel {
    width: 100%;
    text-align: center;
  }

  #mongo, #jquery {
      width: 10vw;
    }

  #materialize {
    width: 7vw;
  }

/* Media Queries for Min-width */
  @media (min-width: 1650px) {
    #slacktivism > .project-image {
      left: 14vw;
      }

    #yahtzee > .project-image {
      left: 65vw;
    }

    .card:hover{
      transform: translateY(330px);
    }
  }

/* Media Queries for Max-Width 920px */
  @media (max-width: 920px) {
    #yahtzee {
      display: none;
    }

    #slacktivism > .project-image {
      left: 24vw;
    }

    #equally > .project-image {
      left: 57vw;
    }

    #yahtzee > .project-image {
      display: none;
    }

    .card h1, .fa-chevron-circle-down  {
      color: white;
      font-size: 3vw;
    }
  }


/* Media Queries for Max-Width 800px */
  @media (max-width: 800px) {
    #logo {
      display: inline-block;
      position: relative;
      left: -60vw;
    }

    #title {
      display: none;
    }

    .circle-description {
      background-color: #e65100;
    }
  }

/* Media Queries for Max-Width 500px */
  @media (min-width: 500px) {
    .icon {
      transition: all .2s ease-in-out;
      width: 5vw;
      padding: 2vw;
      margin: 2vw;
    }
    .icon:hover {
      transform: scale(2);
      margin-right: 50px;
      margin-left: 50px;
    }
  }
